{% extends 'base.html' %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/greenroom_detail.css') }}"
/>
{% endblock %}

<!-- side bar -->
{% block sidebar %} {% for sb in data.sidebar %}
<li class="nav-item">
  <a
    href="/greenroom-detail/{{sb.link}}"
    class="nav-link {{sb.active}}"
    aria-current="page"
  >
    <svg class="bi me-2" width="16" height="16">
      <use xlink:href="#home"></use>
    </svg>
    {{sb.name}}
  </a>
</li>
{% endfor %} {% endblock %} {% block content %}
<div class="row">
  <div class="col-12">
    {% if data.greenroom.water_level == True %}
    <div class="alert alert-danger" role="alert">
      Nutrient solution low, please fill it immediately!
    </div>
    {% endif %}
    <h1 class="d-inline">
      {% block title %}{{ data.greenroom.name }}{% endblock %}
    </h1>
    <a href="/report-test/{{data.greenroom.id}}" class="btn btn-sm btn-success">
      <h3 class="d-inline">View Report</h3>
    </a>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-6 text-center">
    <img
      src="{{data.greenroom.image}}"
      class="img-plant-detail"
      alt="Plant Image"
    />
    <div class="flexbox-horizontal m-5 justify-content-between">
      <div class="flexbox-vertical temperature">
        <p>Temperature</p>
        <p>{{data.greenroom.temperature}} &deg;C</p>
      </div>
      <div class="flexbox-vertical light">
        <p>Light Intensity</p>
        <p>{{data.greenroom.light}} arb. unit</p>
      </div>
      <div class="flexbox-vertical moisture">
        <p>Soil Moisture</p>
        <p>{{data.greenroom.moisture}} %</p>
      </div>
    </div>
  </div>

  <div class="col-6 card" style="overflow: scroll; height: 40vw">
    <form method="post">
      <div class="form-group">
        <p class="form-title">Actuator Mode</p>
        <p>Nutrient pump is only available in <strong>manual mode</strong></p>
        <p>
          Water pump is in
          <strong>{{data.greenroom.moisture_mode}} mode</strong>
        </p>
        <p>
          Growth light is in <strong>{{data.greenroom.light_mode}} mode</strong>
        </p>
        <p>
          Fan is in <strong>{{data.greenroom.temperature_mode}} mode</strong>
        </p>
        <button
          type="submit"
          name="reset_auto"
          class="btn btn-primary"
          id="reset_auto"
          value="reset"
        >
          Reset to auto mode
        </button>
        <small class="form-text text-muted"
          >This will not reset nutrient pump mode</small
        >
      </div>
    </form>

    <form method="post">
      <p class="form-title">Automation Threshold</p>
      <div class="form-group">
        <label for="soil_threshold">Soil Moisture Threshold</label>
        <input
          type="text"
          class="form-control"
          id="soil_threshold"
          name="soil_threshold"
          value="{{data.greenroom.moisture_threshold}}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="light_threshold_1">Light Threshold Level 1</label>
        <input
          type="text"
          class="form-control"
          id="light_threshold_1"
          name="light_threshold_1"
          value="{{data.greenroom.light_threshold_1}}"
        />
      </div>
      <div class="form-group">
        <label for="light_threshold_2">Light Threshold Level 2</label>
        <input
          type="text"
          class="form-control"
          id="light_threshold_2"
          name="light_threshold_2"
          value="{{data.greenroom.light_threshold_2}}"
        />
      </div>
      <div class="form-group">
        <label for="light_threshold_3">Light Threshold Level 3</label>
        <input
          type="text"
          class="form-control"
          id="light_threshold_3"
          name="light_threshold_3"
          value="{{data.greenroom.light_threshold_3}}"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="temp_threshold">Temperature Threshold</label>
        <input
          type="text"
          class="form-control"
          id="temp_threshold"
          name="temp_threshold"
          value="{{data.greenroom.temperature_threshold}}"
        />
      </div>
      <br />
      <button
        type="submit"
        name="threshold_update"
        class="btn btn-primary"
        id="threshold"
        value="threshold"
      >
        Update
      </button>
    </form>

    <form method="post">
      <div class="form-group">
        <p class="form-title">Nutrient Pump</p>
        {% if data.greenroom.water_level == False %} 
          {% if data.greenroom.water_action == "0" %}
        <p>
          Nutrient Pump last activated on {{data.greenroom.water_timestamp}}
        </p>
        <button
          type="submit"
          class="btn btn-primary"
          name="water"
          id="nutrient_on"
          value="1"
        >
          Turn On
        </button>
          {% else %}
        <p>
          Nutrient Pump currently running, will stop on
          {{data.greenroom.water_timestamp}}
        </p>
        <button
          type="submit"
          class="btn btn-primary"
          name="water"
          id="nutrient_off"
          value="0"
        >
          Turn Off
        </button>
          {% endif %} 
        {% else %}
        <p>
          Nutrient Pump last activated on {{data.greenroom.water_timestamp}}
        </p>
        <button
          type="submit"
          class="btn btn-primary"
          name="water"
          id="nutrient_on"
          value="1"
          disabled
        >
          Turn On
        </button>
        <small class="form-text text-muted"
          >Nutrient solution low, function disabled</small
        >
        {% endif %}
      </div>
    </form>

    <form method="post">
      <div class="form-group">
        <p class="form-title">Water Pump</p>
        {% if data.greenroom.moisture_action == "0" %}
        <p>
          Water Pump last activated on {{data.greenroom.moisture_timestamp}}
        </p>
        <button
          type="submit"
          name="soil"
          class="btn btn-primary"
          id="water_on"
          value="1"
        >
          Turn On
        </button>
        {% else %}
        <p>
          Water Pump is currently <strong>on</strong>
        </p>
        <button
          type="submit"
          name="soil"
          class="btn btn-primary"
          id="water_off"
          value="0"
        >
          Turn Off
        </button>
        {% endif %}
      </div>
    </form>

    <form method="post">
      <div class="form-group">
        <p class="form-title">Growth Light</p>
        {% if data.greenroom.light_action == "0" %}
        <p>Growth light last activated on {{data.greenroom.light_timestamp}}</p>
        {% else %}
        <p>
          Growth light currently activated at <strong>Brightness Level
          {{data.greenroom.light_action}}</strong>
        </p>
        {% endif %} <input type="radio" name="light" id="light_off" value="0" {%
        if data.greenroom.light_action == '0' %} checked {% endif %} >
        <label for="light_off">Off</label><br />
        <input type="radio" name="light" id="light_one" value="1" {% if
        data.greenroom.light_action == '1' %} checked {% endif %} >
        <label for="light_one">Brightness Level 1</label><br />
        <input type="radio" name="light" id="light_two" value="2" {% if
        data.greenroom.light_action == '2' %} checked {% endif %} >
        <label for="light_two">Brightness Level 2</label><br />
        <input type="radio" name="light" id="light_three" value="3" {% if
        data.greenroom.light_action == '3' %} checked {% endif %} >
        <label for="light_three">Brightness Level 3</label><br /><br />
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>

    <form method="post">
      <div class="form-group">
        <p class="form-title">Fan</p>
        {% if data.greenroom.temperature_action == "0" %}
        <p>Fan last activated on {{data.greenroom.temperature_timestamp}}</p>
        <button
          type="submit"
          name="temp"
          class="btn btn-primary"
          id="fan_on"
          value="1"
        >
          Turn on
        </button>
        {% else %}
        <p>Fan is currently <strong>on</strong></p>
        <button
          type="submit"
          name="temp"
          class="btn btn-primary"
          id="fan_off"
          value="0"
        >
          Turn off
        </button>
        {% endif %}
      </div>
    </form>
  </div>
</div>

{% endblock %}
