{% extends 'base.html' %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %}

<!-- side bar -->
{% block sidebar %} {% for sb in data.sidebar %}
<li class="nav-item">
  <a
    href="/greenroom-detail/{{sb.link}}"
    class="nav-link {{sb.active}}"
    aria-current="page"
  >
    {{sb.name}}
  </a>
</li>
{% endfor %} {% endblock %}

<!-- notification -->
{% block notification %}
<div
  id="liveToast"
  class="toast align-items-center text-white bg-primary border-0"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="d-flex">
    <div class="toast-body">Hello, world! This is a toast message.</div>
    <button
      type="button"
      class="btn-close btn-close-white me-2 m-auto"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
</div>
{% endblock %} {% block content %}
<div class="d-flex flex-row justify-content-between">
  <div class="h1">Dashboard</div>
  <a href="/create_greenroom" class="my-auto">
    <button type="button" class="btn btn-success">
      <i class="fas fa-plus"></i> Add Greenroom
    </button>
  </a>
</div>
<hr />
<script>
  // var toastLiveExample = document.getElementById("liveToast");
  // var toast = new bootstrap.Toast(toastLiveExample);
  // toast.show();

  $(".liveToast").toast("show");
</script>
<script>
  var data = {};
  // Configuration options
  var options = {
    legend: {
      display: false,
    },
    title: {
      display: true,
      text: "Temperature",
    },
    maintainAspectRatio: false, // This prevents the chart from maintaining a fixed aspect ratio
    responsive: true,
    scales: {
      xAxes: [
        {
          ticks: {
            display: false,
          },
        },
      ],
      yAxes: [
        {
          ticks: {
            display: false,
          },
        },
      ],
    },
  };
</script>

{% for rec in data.chart_data %} {% for r in rec %}
<p>{{ r.value }}</p>
{% endfor %} {% endfor %}

<div class="row">
  {% for gr in data.greenroom %}
  <a
    class="text-dark text-decoration-none"
    href="{{ url_for('page_greenroom_detail', id=gr.greenroom_id) }}"
  >
    <div
      class="card greenroom-container p-1 m-2 {% if gr.water_level %} border-danger border-5 {% endif %}"
    >
      <!-- ! icon -->
      {% if gr.water_level %}
      <p class="text-center text-danger">
        <i class="fas fa-exclamation-triangle fa-1x text-danger"></i> Low water
        level
      </p>
      {% endif %}
      <div class="d-flex">
        <img
          class="card-img-top w-25 h-25"
          src="https://firebasestorage.googleapis.com/v0/b/iot-greenroom.appspot.com/o/greenroom_images%2F{{gr.image}}?alt=media"
          alt="Card image cap"
        />
        <h5 class="card-title mx-auto my-auto">{{ gr.name }}</h5>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="mb-5" style="width: 110px; height: 110px">
            <p id="current_data{{gr.greenroom_id}}0" class="text-center">0</p>
            <canvas id="lineChart{{ gr.greenroom_id }}0"></canvas>
          </div>
          <div class="mb-5" style="width: 110px; height: 110px">
            <p id="current_data{{gr.greenroom_id}}1" class="text-center">0</p>
            <canvas id="lineChart{{ gr.greenroom_id }}1"></canvas>
          </div>
          <div class="mb-5" style="width: 110px; height: 110px">
            <p id="current_data{{gr.greenroom_id}}2" class="text-center">0</p>
            <canvas id="lineChart{{ gr.greenroom_id }}2"></canvas>
          </div>
          <script>
            var soil_label = JSON.parse(
              "{{ gr.soil_chart_label }}".replace(/&#39;/g, '"')
            );
            var light_label = JSON.parse(
              "{{ gr.light_chart_label }}".replace(/&#39;/g, '"')
            );
            var temp_label = JSON.parse(
              "{{ gr.temperature_chart_label }}".replace(/&#39;/g, '"')
            );

            var soil_data = JSON.parse(
              "{{ gr.soil_chart_data }}".replace(/&#39;/g, '"')
            );
            var light_data = JSON.parse(
              "{{ gr.light_chart_data }}".replace(/&#39;/g, '"')
            );
            var temp_data = JSON.parse(
              "{{ gr.temperature_chart_data }}".replace(/&#39;/g, '"')
            );

            document.getElementById(
              "current_data{{gr.greenroom_id}}0"
            ).innerHTML = soil_data[soil_data.length - 1];

            document.getElementById(
              "current_data{{gr.greenroom_id}}1"
            ).innerHTML = light_data[light_data.length - 1];

            document.getElementById(
              "current_data{{gr.greenroom_id}}2"
            ).innerHTML = temp_data[temp_data.length - 1];

            chart_1_data = {
              labels: soil_label,
              datasets: [
                {
                  data: soil_data,
                  borderColor: "rgb(75, 192, 192)",
                  borderWidth: 2,
                  fill: false, // Set fill to false to show only the line
                },
              ],
            };
            chart_2_data = {
              labels: light_label,
              datasets: [
                {
                  data: light_data,
                  borderColor: "rgb(75, 192, 192)",
                  borderWidth: 2,
                  fill: false, // Set fill to false to show only the line
                },
              ],
            };
            chart_3_data = {
              labels: temp_label,
              datasets: [
                {
                  data: temp_data,
                  borderColor: "rgb(75, 192, 192)",
                  borderWidth: 2,
                  fill: false, // Set fill to false to show only the line
                },
              ],
            };

            options.title.text = "Soil Moisture";
            var chart = new Chart(
              document
                .getElementById("lineChart{{ gr.greenroom_id }}0")
                .getContext("2d"),
              {
                type: "line",
                data: chart_1_data,
                options: options,
              }
            );
            options.title.text = "Light";
            var chart = new Chart(
              document
                .getElementById("lineChart{{ gr.greenroom_id }}1")
                .getContext("2d"),
              {
                type: "line",
                data: chart_2_data,
                options: options,
              }
            );
            options.title.text = "Temperature";
            var chart = new Chart(
              document
                .getElementById("lineChart{{ gr.greenroom_id }}2")
                .getContext("2d"),
              {
                type: "line",
                data: chart_3_data,
                options: options,
              }
            );
          </script>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
