{% extends 'base.html' %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %}

<!-- side bar -->
{% block sidebar %} {% for sb in data.sidebar %}
<li class="nav-item">
  <a
    href="/greenroom-detail/{{sb.link}}"
    class="nav-link {{sb.active}}"
    aria-current="page"
  >
    {{sb.name}}
  </a>
</li>
{% endfor %} {% endblock %}

<!-- notification -->
{% block notification %}
<div
  id="liveToast"
  class="toast align-items-center text-white bg-primary border-0"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="d-flex">
    <div class="toast-body">Hello, world! This is a toast message.</div>
    <button
      type="button"
      class="btn-close btn-close-white me-2 m-auto"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
</div>
{% endblock %} {% block content %}
<div class="d-flex flex-row justify-content-between">
  <div class="h1">Dashboard</div>
  <a href="/create_greenroom" class="my-auto">
    <button type="button" class="btn btn-success">
      <i class="fas fa-plus"></i> Add Greenroom
    </button>
  </a>
</div>
<hr />
<script>
  // var toastLiveExample = document.getElementById("liveToast");
  // var toast = new bootstrap.Toast(toastLiveExample);
  // toast.show();

  $(".liveToast").toast("show");
</script>
<script>
  function TimelineChart(sensor_data, x_legend, chart_id) {
    //clear the chart
    document.getElementById(chart_id).innerHTML = "";

    // Initialize the area chart with ApexCharts
    new ApexCharts(document.getElementById(chart_id), {
      chart: {
        height: 150,
        type: "area",
        toolbar: {
          show: false,
        },
      },
      series: [
        {
          name: "Series 1",
          data: sensor_data.map(function (e) {
            return e.value;
          }),
        },
      ],
      xaxis: {
        labels: {
          show: false, // Hide x-axis labels
        },
        categories: sensor_data.map(function (e) {
          return String(e.label);
        }),
      },
      yaxis: {
        labels: {
          show: false, // Hide y-axis labels
        },
      },
      fill: {
        opacity: 0.4,
        type: "solid",
      },
      stroke: {
        curve: "smooth",
      },
      dataLabels: {
        enabled: false, // Hide data point labels
      },
    }).render();
  }
</script>

{% for rec in data.chart_data %} {% for r in rec %}
<p>{{ r.value }}</p>
{% endfor %} {% endfor %}

<div class="row">
  {% for gr in data.greenroom %}
  <a
    class="text-dark text-decoration-none"
    href="{{ url_for('page_greenroom_detail', id=gr.greenroom_id) }}"
  >
    <div
      class="card greenroom-container p-1 m-2 {% if gr.water_level %} border-danger border-5 {% endif %}"
    >
      <!-- ! icon -->
      {% if gr.water_level %}
      <p class="text-center text-danger">
        <i class="fas fa-exclamation-triangle fa-1x text-danger"></i> Low water
        level
      </p>
      {% endif %}
      <div class="d-flex">
        <img
          class="card-img-top w-25 h-25"
          src="{{gr.image}}"
          alt="Card image cap"
        />
        <h3 class="card-title mx-auto my-auto">{{ gr.name }}</h3>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="mb-5" style="width: 200px; height: auto">
            <p class="title-current-data">Temp</p>
            <h1 id="current_data{{gr.greenroom_id}}0" class="text-center">
              {{gr.current_temp_value}}
            </h1>
            <div id="lineChart{{ gr.greenroom_id }}0"></div>
          </div>
          <div class="mb-5" style="width: 200px; height: auto">
            <p class="title-current-data">Light</p>
            <h1 id="current_data{{gr.greenroom_id}}1" class="text-center">
              {{gr.current_light_value}}
            </h1>
            <div id="lineChart{{ gr.greenroom_id }}1"></div>
          </div>
          <div class="mb-5" style="width: 200px; height: auto">
            <p class="title-current-data">Soil</p>
            <h1 id="current_data{{gr.greenroom_id}}2" class="text-center">
              {{gr.current_soil_value}}
            </h1>
            <div id="lineChart{{ gr.greenroom_id }}2"></div>
          </div>
          <script>
            TimelineChart(
              JSON.parse("{{ gr.temperature }}".replace(/&#39;/g, '"')),
              "Year",
              "lineChart{{ gr.greenroom_id }}0"
            );
            TimelineChart(
              JSON.parse("{{ gr.light }}".replace(/&#39;/g, '"')),
              "Year",
              "lineChart{{ gr.greenroom_id }}1"
            );
            TimelineChart(
              JSON.parse("{{ gr.soil }}".replace(/&#39;/g, '"')),
              "Year",
              "lineChart{{ gr.greenroom_id }}2"
            );
          </script>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
